bin
obj
task2.csproj
task4.csproj
task8.csproj
task6.csproj
task10.csproj
task13.csproj
task15.csproj
task23.csproj
task21.csproj
task19.csproj
task25.csproj
task27.csproj
task29.csproj
task34.csproj
task36.csproj
task38.csproj